<html ng-app="myApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
</head>

<body ng-controller="MyController">
    <div class="assignment5">
        <header>Movie collection</header>
        <label for "Title:"> Title:</label>
        <input ng-model="title" type="text" id="title" placeholder="title">
        <br/>
        <label for "Genre:"> Genre:</label>
        <input ng-model="genre" type="text" id="genre" placeholder="genre">
        <br/>
        <label for "Release Date:"> Release Date:</label>
        <input ng-model="releaseDate" type="text" id="releaseDate" placeholder="releaseDate">
        <br/>
        <button ng-click="addMovie()">Add Movie</button>
        <br/>
        <button ng-click="Logout()">Logout</button>
        <br/>
        <ul>
            <li ng-repeat="movie in movieCollection">
                <strong class="movieCollection">
                   Title:  </strong> {{ movie.$id }}
                <ul>
                    <li> <strong>Genre: </strong> {{ movie.genre }} </li>
                    <li> <strong>Release Date: </strong> {{movie.releaseDate}} </li>
                </ul>
            </li>
        </ul>
    </div>
</body>
<script>
    // define our app and dependencies (remember to include firebase!)
    var app = angular.module("myApp", ["firebase"]);

    // inject $firebaseAuth into our controller
    app.controller("MyController", ["$scope", "$firebaseArray",
        function($scope, $firebaseArray) {
            var ref = new Firebase("https://blazing-heat-8324.firebaseio.com/");
            var authData = ref.getAuth();
            var usersRef = ref.child("users");
            if (authData) {
                var user = usersRef.child(authData.uid);
                var movieRef = user.child("movie");
                $scope.movieCollection = $firebaseArray(movieRef);
                $scope.addMovie = function() {
                    movieRef.child($scope.title).set({
                        genre: $scope.genre,
                        releaseDate: $scope.releaseDate
                    });
                    $scope.title = "";
                    $scope.genre = "";
                    $scope.releaseDate = "";

                }

                $scope.Logout = function() {
                    ref.unauth();
                    window.location = "file:///C:/Users/Brian%20Scott/firebaseTest/Homework%205/Login.html";
                }
            }

        }
    ]);

</script>
<html>
